@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #edb932;
  --color-secondary: #bc9127;
  --color-semi-black: #1a1a1a;
  --color-semi-gray: #6c6c6c;
  --color-semi-white: #fafafa;
}

/* change the selection color */

::selection {
  background-color: var(--color-primary);
  color: var(--color-semi-white);
}
* {
  color: var(--color-semi-gray);
}

.container {
  max-width: 1440px !important;
  margin: auto;
}

